@model IEnumerable<CargoServices_Danish.Models.VehicleType>

@{
    ViewData["Title"] = "Index";
}


<div class="header">
    <h1 class="page-header">
        Vehicle Type
    </h1>
    <ol class="breadcrumb">
        <li><a asp-action="Index">Vehicle Type</a></li>
        <li><a asp-action="Create">Create New</a></li>
    </ol>
</div>
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="tabledes">
                <div class="card">
                    <div class="card-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            Action
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

            <footer>
                <p>All right reserved <a href="#">Footer</a></p>
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>


